/*
--------------------------------------------------
Banner styles
--------------------------------------------------
*/
.home-banner {
	margin-top: 20px;
}
.home-page-banner-img {
	border-radius: 20px;
	margin-bottom: 20px;
}
div.home-page-byline {
	line-height: 200px;
}
p.home-page-byline {
	display: inline-block;
	font-size: 3em;
	font-style: italic;
	color: rgba(128, 0, 0, 1);
	vertical-align: middle;
	line-height: 60px;
}

/*
--------------------------------------------------
Info styles
--------------------------------------------------
*/
.circles {
	margin-top: 20px;
	background-color: rgba(0, 0, 128, 1);
	color: #fff;
	border-radius: 50%;
	font-size: 4em;
	line-height: 2em;
	width: 2em;
	height: 2em;
}
.circles:hover {
	background-color: rgba(100, 127, 255,1);
}
.info-header {
	margin-top: 20px;
}
.info-link {
	font-size: 1em;
	display: initial;
	color: rgba(0, 0, 128, 1);
}
.info-link:hover {
	color: rgba(100, 127, 255,1);
}

/*
--------------------------------------------------
Search form
--------------------------------------------------
*/
.home-page-search-form {
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.home-page-search-input {
	width: 90%;
	margin: auto;
}
.home-page-search-button1 {
	border-radius: 0px 0px 0px 0px;
}
.home-page-search-button2 {
	border-radius: 0px 4px 4px 0px;
}
.col-centered {
    width: 100%;
}

/*
--------------------------------------------------
Media overrides
--------------------------------------------------
*/
@media (min-width:1201px) { 
	.circles {
		font-size: 3em;
	}
	.info-description {
		font-size: 1.3em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 200px;
	}
	p.home-page-byline {
		font-size: 3em;
		line-height: 60px;
	}
}
@media (max-width:1200px) and (min-width: 993px) { 
	.circles {
		font-size: 3em;
	}
	.info-description {
		font-size: 1.3	em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 200px;
	}
	p.home-page-byline {
		font-size: 3em;
		line-height: 60px;
	}
}
@media (max-width:992px) and (min-width: 769px) { 
	.circles {
		font-size: 3em;
		margin-top: 20px;
	}
	.info-header {
		margin-top: 18px;
	}
	.info-link {
		font-size: 1em;
	}
	.info-description {
		font-size: 1.5em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 180px;
	}
	p.home-page-byline {
		font-size: 3em;
		line-height: 55px;
	}
}
@media (max-width:768px) and (min-width: 625px) { 
	.circles {
		font-size: 2.6em;
		margin-top: 18px;
	}
	.info-header {
		margin-top: 16px;
	}
	.info-link {
		font-size: .9em;
	}
	.info-description {
		font-size: 1.3em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 160px;
	}
	p.home-page-byline {
		font-size: 2.6em;
		line-height: 50px;
	}
}
@media (max-width:624px) and (min-width: 481px) { 
	.circles {
		font-size: 2.6em;
		margin-top: 18px;
	}
	.info-header {
		margin-top: 16px;
	}
	.info-link {
		font-size: .9em;
	}
	.info-description {
		font-size: 1.3em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 140px;
	}
	p.home-page-byline {
		font-size: 2.2em;
		line-height: 45px;
	}
}
@media (max-width:480px) and (min-width: 321px) { 
	.circles {
		font-size: 2.2em;
		margin-top: 16px;
	}
	.info-header {
		margin-top: 14px;
	}
	.info-link {
		font-size: .8em;
	}
	.info-description {
		font-size: 1.1em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 120px;
	}
	p.home-page-byline {
		font-size: 2.2em;
		line-height: 40px;
	}
}
@media (max-width:320px) { 
	.circles {
		margin-top: 14px;
		font-size: 1.8em;
	}
	.info-header {
		margin-top: 12px;
	}
	.info-link {
		font-size: .7em;
	}
	.info-description {
		font-size: 1em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 100px;
	}
	p.home-page-byline {
		font-size: 1.8em;
		line-height: 35px;
	}
}


