/*
--------------------------------------------------
Banner styles
--------------------------------------------------
*/
.home-banner {
	background-color: rgba(220, 229, 255, 1);
}
.home-page-banner-img {
	margin-top: 20px;
}
div.home-page-byline {
	line-height: 120px;
}
p.home-page-byline {
	display: inline-block;
	font-size: 2em;
	font-style: italic;
	color: rgba(128, 0, 0, 1);
	vertical-align: middle;
	line-height: 1.2em;
}

/*
--------------------------------------------------
Info styles
--------------------------------------------------
*/
.info-link {
	font-size: 1em;
	color: rgba(0, 0, 128, 1);
}
.info-link:hover {
	background-color: rgba(0, 0, 128, 1);
	text-decoration: none;
}
.circles {
	display: block;
	margin-top: 80px;
	margin-bottom: 100px;
	background-color: rgba(220, 229, 255, 1);
	border-radius: 50%;
	margin: auto;
	font-size: 2em !important;
	line-height: 1.6em;
	width: 1.6em;
	height: 1.6em;
}
.header-text {
	margin-top: 10px;
}
.info-description {
	font-size: 1.4em;
}

/*
--------------------------------------------------
Search form
--------------------------------------------------
*/
.home-page-search-form-div {
	margin-bottom: 20px;
}
.home-page-search-form {
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.home-page-search-input {
	width: 90%;
	margin: auto;
}
.home-page-search-button1 {
	border-radius: 0px 0px 0px 0px;
}
.home-page-search-button2 {
	border-radius: 0px 4px 4px 0px;
}

/*
--------------------------------------------------
Misc
--------------------------------------------------
*/
.home-page-register-div {
	margin-bottom: 20px;
}

/*
--------------------------------------------------
Media overrides
--------------------------------------------------
*/
@media (max-width:1200px) and (min-width: 993px) { 
	.circles {
		font-size: 2em !important;
	}
	.header-text {
		margin-top: 10px;
	}
	.info-description {
		font-size: 1.4	em;
	}
	div.home-page-byline {
		line-height: 118px;
	}
	p.home-page-byline {
		font-size: 2em;
	}
}
@media (max-width:992px) and (min-width: 769px) { 
	.info-link {
		font-size: 1em;
	}
	.circles {
		font-size: 1.9em !important;
	}
	.header-text {
		margin-top: 8px;
	}
	.info-description {
		font-size: 1.4em;
	}
	div.home-page-byline {
		line-height: 116px;
	}
	p.home-page-byline {
		font-size: 1.9em;
	}
}
@media (max-width:768px) and (min-width: 625px) { 
	.info-link {
		font-size: .9em;
	}
	.circles {
		font-size: 1.7em !important;
	}
	.header-text {
		margin-top: 6px;
	}
	.info-description {
		font-size: 1.3em;
		/* display: initial; */
	}
	div.home-page-byline {
		line-height: 114px;
	}
	p.home-page-byline {
		font-size: 1.8em;
	}
}
@media (max-width:624px) and (min-width: 481px) { 
	.info-link {
		font-size: .9em;
	}
	.circles {
		font-size: 1.5em !important;
	}
	.header-text {
		margin-top: 4px;
	}
	.info-description {
		font-size: 1.2em;
	}
	div.home-page-byline {
		line-height: 112px;
	}
	p.home-page-byline {
		font-size: 1.7em;
	}
}
@media (max-width:480px) and (min-width: 321px) { 
	.info-link {
		font-size: .8em;
	}
	.circles {
		font-size: 1.3em !important;
	}
	.header-text {
		margin-top: 2px;
	}
	.info-description {
		font-size: 1.1em;
	}
	div.home-page-byline {
		line-height: 110px;
	}
	p.home-page-byline {
		font-size: 1.6em;
	}
}
@media (max-width:320px) { 
	.info-link {
		font-size: .7em;
	}
	.circles {
		font-size: 1.1em !important;
	}
	.header-text {
		margin-top: 0px;
	}
	.info-description {
		font-size: 1em;
	}
	div.home-page-byline {
		line-height: 108px;
	}
	p.home-page-byline {
		font-size: 1.5em;
	}
}


