/*
--------------------------------------------------
Jumbotron
--------------------------------------------------
*/
.sub-header {
	
	margin-bottom: 4px;
}

.subscription-jumbotron {
	padding-top: 20px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom: 20px;
}
.subscription-jumbotron > h2,
.sub-header > h2 {
	font-size: 1.9em;
}
@media (max-width:1200px) and (min-width: 993px) { 
	.subscription-jumbotron > h2,
	.sub-header > h2 {
		font-size: 1.8em;
	}
}
@media (max-width:992px) and (min-width: 769px) { 
	.subscription-jumbotron > h2,
	.sub-header > h2 {
		font-size: 1.7em;
	}
}
@media (max-width:768px) and (min-width: 481px) { 
	.subscription-jumbotron > h2,
	.sub-header > h2 {
		font-size: 1.6em;
	}
}
@media (max-width:480px) and (min-width: 321px) { 
	.subscription-jumbotron > h2,
	.sub-header > h2 {
		font-size: 1.5em;
	}
}
@media (max-width:320px) { 
	.subscription-jumbotron > h2,
	.sub-header > h2 {
		font-size: 1.4em;
	}
}
.subscription-jumbotron > p {
	font-size: 1.5em;
	margin-left: 50px;
}
@media (max-width:1200px) and (min-width: 993px) { 
	.subscription-jumbotron > p {
		font-size: 1.4em;
		margin-left: 40px;
	}
}
@media (max-width:992px) and (min-width: 769px) { 
	.subscription-jumbotron > p {
		font-size: 1.3em;
		margin-left: 30px;
	}
}
@media (max-width:768px) and (min-width: 481px) { 
	.subscription-jumbotron > p {
		font-size: 1.2em;
		margin-left: 10px;
	}
	.col-xs-12 {
		text-align: center;
		padding-bottom: 10px;
	}
	.pull-right {
		float: none !important;
	}
}
@media (max-width:480px) and (min-width: 321px) { 
	.subscription-jumbotron > p {
		font-size: 1.1em;
		margin-left: 10px;
	}
	.col-xs-12 {
		text-align: center;
		padding-bottom: 10px;
	}
	.pull-right {
		float: none !important;
	}
}
@media (max-width:320px) { 
	.subscription-jumbotron > p {
		font-size: 1.0em;
		margin-left: 0px;
	}
	.col-xs-12 {
		text-align: center;
		padding-bottom: 10px;
	}
	.pull-right {
		float: none !important;
	}
}

/*
--------------------------------------------------
Package Elements
--------------------------------------------------
*/
.panel-body, h2 {
	margin: 0px;
	padding: 2px;
	border: 0px;
}
.panel {
	border: 0px;
}
.subscriptions-level {
	color: rgba(128, 0, 0, 1);
}
.subscriptions-price-month {
	color: rgba(0, 128, 0, 1);
	font-size: 2em;
	font-weight: bold;
}
.subscriptions-price-year {
	font-size: 1em;
	font-style: italic;
}

/*
--------------------------------------------------
Details Modal
--------------------------------------------------
*/
.modal-body {
    overflow-y: auto;
}
.list-bullet:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -20px;
    color: rgba(0, 128, 0, 1);
}
.list-bullet {
	padding-left: 30px
}








/*
Feature comparison modal dialog
*/
.feature1 {
    background-color: rgba(128, 0, 0, 1);
    border-radius: 8px 8px 0px 0px;
}
.feature2 {
    background-color: rgba(0, 0, 128, 1);
    border-radius: 8px 8px 0px 0px;
}
.feature3 {
    background-color: rgba(0, 128, 0, 1);
    border-radius: 8px 8px 0px 0px;
}
.feature-button1 {
    border: none;
    background-color: rgba(128, 0, 0, 1);
    color: #fff;
}
.feature-button1:hover, .feature-button1:focus {
    color: #fff;
}
.feature-button2 {
    border: none;
    background-color: rgba(0, 0, 128, 1);
    color: #fff;
}
.feature-button2:hover, .feature-button2:focus {
    color: #fff;
}
.feature-button3 {
    border: none;
    background-color: rgba(0, 128, 0, 1);
    color: #fff;
}
.feature-button3:hover, .feature-button3:focus {
    color: #fff;
}
.modal-body {
	padding-bottom: 0px;
}
.feature-modal {
    border: 0px;
}

.feature-desc {
    width: 200px;
    text-align: left;
}
.feature-cell {
	width: 20px;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}
.feature-modal .table {
    text-align: center;
    margin-bottom: 0px;
}
.feature-modal thead tr th {
    font-weight: normal;
    font-weight: normal;
    
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
.feature-modal i.icon-red {
    color: rgb(250, 57, 57);
}
.feature-modal i.icon-green {
    color: #00E025;
}
.modal-footer {
	border-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}










