<article>
	<h2><a href="/community/post/{{ entry.id }}">{{ entry.title }}</a></h2>

	<div class="row">
		<div class="group1 col-sm-6 col-md-6">
{#			<span class="glyphicon glyphicon-folder-open"></span>#}
{#			<a href="#">Signs</a>#}
{#			<span class="glyphicon glyphicon-tags"></span>#}
			{% for tag in entry.tags %}
			<a class="label label-success" href="#">{{ tag }}</a>
			{% endfor %}
		</div>
		<div class="group2 col-sm-6 col-md-6">
			<span class="glyphicon glyphicon-comment"></span>
			<a href="/community/post/{{ entry.id }}#comments">{{ entry.comment_count }} Comments</a>
			<span class="glyphicon glyphicon-time"></span> {{ entry.get_date }}
		</div>
	</div>

	<hr class="header-divider">

{#	<img src="http://placehold.it/900x300" class="img-responsive">#}

{#	<br/>#}

	<p class="lead">{{ entry.leader }}</p>

	{% if page_type == 'list' %}
	<p>{{ entry.get_short_article }}...</p>
	{% else %}
	<p>{{ entry.article }}</p>
	{% endif %}

</article>
