<article>
	<h3><a href="/community/post/{{ entry.id }}">{{ entry.title }}</a></h3>

	<div class="row">
		<div class="group1 col-sm-6 col-md-6">
			<table>
				<tr>
					<td class="tag-icon"><i class="fa fa-tags"></i></td>
					<td class="tag-list">
						{% for tag in entry.tags %}
						<a class="label label-success tag" href="#">{{ tag }}</a>
						{% endfor %}
					</td>
				</tr>
			</table>
		</div>
		<div class="group2 col-sm-6 col-md-6">
			<span class="glyphicon glyphicon-comment"></span>
			<a href="/community/post/{{ entry.id }}#comments">{{ entry.comment_count }} Comments</a>
			<span class="glyphicon glyphicon-time"></span> {{ entry.get_date }}
		</div>
	</div>

	<hr class="divider">


	{% if entry.image %}
	<div class="container-fluid">
		<img src="{{ MEDIA_URL }}community/{{ entry.image }}" class="img-responsive post-image">
	</div>
	{% endif %}
	
	{% if entry.video %}
	<div align="center" class="embed-responsive embed-responsive-16by9">
	    <video class="embed-responsive-item" controls>
	        <source src={{ MEDIA_URL }}{{ entry.video }} type=video/mp4>
	        Your browser does not support the video tag.
	    </video>
	</div>
	{% endif %}

	<p class="lead">{{ entry.leader }}</p>

	{% if page_type == 'list' %}
	<p>{{ entry.get_short_article }}...</p>
	{% else %}
	<p>{{ entry.article }}</p>
	{% endif %}

</article>
