{% extends '_community.html' %}
{% load staticfiles %}

{% block blog_content %}

{% for entry in entries %}
{% include 'article.html' %}
	<p class="text-right">
		<a href="/community/post/{{ entry.id }}" class="text-right">continue reading...</a>
	</p>

	<hr>
{% endfor %}

<!-- pager -->
<ul class="pager">
    <li class="previous">
        <a href="#"><span class="glyphicon glyphicon-arrow-left"></span> Older</a>
    </li>
    <li class="next">
        <a href="#">Newer <span class="glyphicon glyphicon-arrow-right"></span></a>
    </li>
</ul>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/community.js' %}" type='text/javascript'></script>
{% endblock %}
