{% extends '_community.html' %}
{% load staticfiles %}

{% block blog_content %}

{% include 'article.html' %}


<ul class="pager">
    <li class="previous"><a href="/community"><span class="glyphicon glyphicon-arrow-left"></span> Back to posts</a></li>
</ul>

<div class="well">
    <h4>Leave a comment</h4>
    <form role="form" class="clearfix">
 
        <div class="col-md-6 form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
 
        <div class="col-md-6 form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
 
        <div class="col-md-12 form-group">
            <label class="sr-only" for="email">Comment</label>
            <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
        </div>
 
 		<input type="hidden" name="entry_id" value="{{ entry.id }}">
        <div class="col-md-12 form-group text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
 
    </form>
</div>

<ul id="comments" class="comments">
	{% for comment in entry.get_comments %}
    <li class="comment">
        <div class="clearfix">
            <h4 class="pull-left">{{ comment.name }}</h4>
            <p class="pull-right">{{ comment.get_date }}</p>
        </div>
        <p>
            <em>{{ comment.comment }}</em>
        </p>
    </li>
	{% endfor %}
</ul>



{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/community.js' %}" type='text/javascript'></script>
{% endblock %}
