{% extends '_community.html' %}
{% load staticfiles %}

{% block blog_content %}

{% include 'article.html' %}


<ul class="pager">
    <li class="previous"><a href="/community"><span class="glyphicon glyphicon-arrow-left"></span> Back to posts</a></li>
</ul>

<div class="well comment-form">
    <h4>Leave a comment</h4>
    <form role="form" class="clearfix" data-toggle="validator" method="post">
		{% csrf_token %}

		{% if messages %}
            {% for message in messages %}
		    <div class="col-sm-offset-2 text-center alert alert-{{ message.tags }}">
		    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		        <ul class="list-unstyled">
		                <li>{{ message }}</li>
		        </ul>
		    </div>
            {% endfor %}
		{% endif %}

		{{ form.non_field_errors }}

 
        <div class="col-md-6 form-group">
            <label class="sr-only" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
			<div class="help-block with-errors"></div>
        </div>
 
        <div class="col-md-6 form-group">
            <label class="sr-only" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
			<div class="help-block with-errors"></div>
        </div>
 
        <div class="col-md-12 form-group">
            <label class="sr-only" for="{{ form.comments.id_for_label }}">{{ form.comments.label }}</label>
            {{ form.comments }}
			<div class="help-block with-errors"></div>
        </div>
 
 		<input type="hidden" name="entry_id" value="{{ entry.id }}">
        <div class="col-md-12 form-group text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
 
    </form>
</div>

<ul id="comments" class="comments">
	{% for comment in entry.get_comments %}
    <li class="comment">
        <div class="clearfix">
            <h4 class="pull-left">{{ comment.name }}</h4>
            <p class="pull-right">{{ comment.get_date }}</p>
        </div>
        <p>
            <em>{{ comment.comment }}</em>
        </p>
    </li>
	{% endfor %}
</ul>

{% endblock %}
