/*
Main Colors:

	Red
		#800000
		hsl(0, 100%, 50%)
		rgba(128, 0, 0, 1)
	
	Blue
		#000080
		hsl(240, 100%, 50%)
		rgba(0, 0, 128, 1)
	
	Green
		#008000
		hsl(120, 100%, 50%)
		rgba(0, 128, 0, 1)
*/

/*
--------------------------------------------------
Header
--------------------------------------------------
*/
.page-header {
	text-align: center;
	margin-top: 0px;
}
/*
--------------------------------------------------
Main Navbar
--------------------------------------------------
*/
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.navbar-default.transparent {
	background-color: #fff;
}
.navbar-default .navbar-brand {
	color:	rgba(128, 0, 0, 1);
}
.navbar-default .navbar-brand:hover {
	color: rgba(128, 0, 0, 1);      
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(128, 0, 0, 1);
    
}
.navbar-default .navbar-nav>li>a {
	color: rgba(128, 0, 0, 1);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	border-radius: 4px;
    padding: 10px 15px;
    margin: 5px 0px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: rgba(128, 0, 0, 1);
}
.navbar-collapse.in {
    background-color: rgba(255,255,255,.5);
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #fff;
    background-color: rgba(128, 0, 0, 1);
}
.navbar-toggle {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    color: rgba(128, 0, 0, 1);
}

/*
--------------------------------------------------
Main Carousel
--------------------------------------------------
*/
.slide, .slide, .slide {
	min-height: 560px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: .5;
}
.carousel.carousel-fade .active.item {
	opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
	position: absolute;
	bottom: 200px;
	right: 0;
	left: 0;
}
.carousel-overlay {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
.carousel-overlay h1 {
    font-size: 3.5em;
}
.carousel-overlay .btn {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid rgba(0, 0, 128, 1);
    border-radius: 6px;
}
.carousel-overlay .btn-lg {
    font-size: 1.75em;
    padding: 10px 30px;
}
.btn-success, .btn-success:visited {
	background-color: rgba(97, 97, 255, 1);
}
.btn-success:hover {
	color: rgba(0, 0, 128, 1);
  	background-color: #fff;
    border-bottom: 4px solid rgba(97, 97, 255, 1);
}
.circles {
	margin-top: 20px;
    background-color: rgba(0, 0, 128, 1);
    color: #fff;
    border-radius: 50%;
    line-height: 3em;
    width: 3em;
    height: 3em;
}
.featurette-image {
    display: block;
    margin: auto;
}

/*
--------------------------------------------------
Logo Placement
--------------------------------------------------
*/
.logo img {
	position:absolute;
	top: -10px;
	left: -20px;
	width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
	max-width: 100%;
}
@media (max-width:1200px) and (min-width: 993px) { 
	.logo img {
	    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 100% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 3.1em;
	}

	.btn-success {
		font-size: 1.5em !important;
	}
}
@media (max-width:992px) and (min-width: 769px) { 
	.logo img {
	    width: 95% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 95% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 2.7em;
	}

	.btn-success {
		font-size: 1.4em !important;
	}
}
@media (max-width:768px) and (min-width: 481px) { 
	.logo img {
	    width: 90% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 90% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 2.3em;
	}

	.btn-success {
		font-size: 1.3em !important;
	}
}
@media (max-width:480px) and (min-width: 321px) { 
	.logo img {
	    width: 80% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 80% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 1.9em;
	}

	.btn-success {
		font-size: 1.2em !important;
	}
}
@media (max-width:320px) { 
	.logo img {
	    width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 50%;
	}
	
	.carousel-overlay h1 {
		font-size: 1.4em;
	}

	.btn-success {
		font-size: 1.1em !important;
	}
}
.logo-frame {
	height: 46px;
	margin-top: 10px;
	margin-left: 10px;
}


/*
--------------------------------------------------
List Group Menus
--------------------------------------------------
*/
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: rgba(0, 0, 128, 1);
  border-color: rgba(0, 0, 128, 1);
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  text-decoration: none;
  background-color: rgba(229, 229, 255, 1);
}

/*
--------------------------------------------------
Sticky Footer
--------------------------------------------------
*/
html {
  position: relative;
  min-height: 100%;
}
body {
	padding-top: 51px;
  margin-bottom: 42px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 10px 0;
}

.footer {
  	height: auto;
}

/*
--------------------------------------------------
Error Pages
--------------------------------------------------
*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
