/*
Main Colors:

	Red
		rgba(128, 0, 0, 1)
		rgba(255, 229, 229, 1)
	
	Blue
		rgba(0, 0, 128, 1)
		rgba(100, 127, 255,1)
		rgba(220, 229, 255, 1)
	
	Green
		rgba(0, 128, 0, 1)
		rgba(229, 255, 229, 1)
*/

/*
--------------------------------------------------
Font Colors
--------------------------------------------------
*/
.font-red {
	color: rgba(128, 0, 0, 1);
}
.font-blue {
	color: rgba(0, 0, 128, 1);
}
.font-green {
	color: rgba(0, 128, 0, 1);
}

/*
--------------------------------------------------
Body override for fixed navbar
--------------------------------------------------
*/
body {
  min-height: 2000px;
  padding-top: 70px;
}

/*
--------------------------------------------------
Header
--------------------------------------------------
*/
.page-header {
	text-align: center;
	margin-top: 0px;
}
/*
--------------------------------------------------
Main Navbar
--------------------------------------------------
*/
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.navbar-default.transparent {
	background-color: #fff;
}
.navbar-default .navbar-brand {
	color:	rgba(128, 0, 0, 1);
}
.navbar-default .navbar-brand:hover {
	color: rgba(128, 0, 0, 1);      
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(128, 0, 0, 1);
    
}
.navbar-default .navbar-nav>li>a {
	color: rgba(128, 0, 0, 1);
    text-transform: uppercase;
/*    text-shadow: 1px 1px 1px rgba(0,0,0,.75); */
	border-radius: 4px;
    padding: 10px 15px;
    margin: 5px 0px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: rgba(128, 0, 0, 1);
}
.navbar-collapse.in {
    background-color: rgba(255,255,255,.5);
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #fff;
    background-color: rgba(128, 0, 0, 1);
}
.navbar-toggle {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    color: rgba(128, 0, 0, 1);
}

/*
--------------------------------------------------
Main Carousel
--------------------------------------------------
*/
.slide, .slide, .slide {
	min-height: 560px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: .5;
}
.carousel.carousel-fade .active.item {
	opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
	position: absolute;
	bottom: 200px;
	right: 0;
	left: 0;
}
.carousel-overlay {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
.carousel-overlay h1 {
    font-size: 3.5em;
}
.carousel-overlay .btn {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid rgba(0, 0, 128, 1);
    border-radius: 6px;
}
.carousel-overlay .btn-lg {
    font-size: 1.75em;
    padding: 10px 30px;
}
.btn-success, .btn-success:visited {
	background-color: rgba(97, 97, 255, 1);
}
.btn-success:hover {
	color: rgba(0, 0, 128, 1);
  	background-color: rgba(229, 229, 255, 1);
    border-bottom: 4px solid rgba(97, 97, 255, 1);
}
.circles {
	margin-top: 20px;
    background-color: rgba(0, 0, 128, 1);
    color: #fff;
    border-radius: 50%;
    line-height: 3em;
    width: 3em;
    height: 3em;
}
.featurette-image {
    display: block;
    margin: auto;
}


.dropdown {
	left: 16px;
}


/*
--------------------------------------------------
Logo Placement
--------------------------------------------------
*/
.logo img {
	position:absolute;
	top: -10px;
	left: -20px;
	width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
	max-width: 100%;
}
@media (max-width:1200px) and (min-width: 993px) { 
	.logo img {
	    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 100% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 3.1em;
	}

	.btn-success {
		font-size: 1.5em !important;
	}
}
@media (max-width:992px) and (min-width: 769px) { 
	.logo img {
	    width: 95% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 95% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 2.7em;
	}

	.btn-success {
		font-size: 1.4em !important;
	}
}
@media (max-width:768px) and (min-width: 481px) { 
	.logo img {
	    width: 90% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 90% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 2.3em;
	}

	.btn-success {
		font-size: 1.3em !important;
	}
}
@media (max-width:480px) and (min-width: 321px) { 
	.logo img {
	    width: 80% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 80% !important;
	}
	
	.carousel-overlay h1 {
		font-size: 1.9em;
	}

	.btn-success {
		font-size: 1.2em !important;
	}
}
@media (max-width:320px) { 
	.logo img {
	    width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
	    max-width: 50%;
	}
	
	.carousel-overlay h1 {
		font-size: 1.4em;
	}

	.btn-success {
		font-size: 1.1em !important;
	}
}
.logo-frame {
	height: 46px;
	margin-top: 10px;
	margin-left: 10px;
}

/*
--------------------------------------------------
Sub Menus
--------------------------------------------------
*/
.list-group-item-danger {
  color: rgba(0, 0, 128, 1);
  background-color: rgba(220, 229, 255, 1);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: rgba(0, 0, 128, 1);
  border-color: rgba(0, 0, 128, 1);
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  text-decoration: none;
  background-color: rgba(220, 229, 255, 1);
}

/*
--------------------------------------------------
Panel Text
--------------------------------------------------
*/
.panel-text > p {
	font-size: 1.5em;
}
@media (max-width:1200px) and (min-width: 993px) { 
	.panel-text > p {
		font-size: 1.4em;
	}
}
@media (max-width:992px) and (min-width: 769px) { 
	.panel-text > p {
		font-size: 1.3em;
	}
}
@media (max-width:768px) and (min-width: 481px) { 
	.panel-text > p {
		font-size: 1.2em;
	}
}
@media (max-width:480px) and (min-width: 321px) { 
	.panel-text > p {
		font-size: 1.1em;
	}
}
@media (max-width:320px) { 
	.panel-text > p {
		font-size: 1.0em;
	}
}
	
/*
--------------------------------------------------
Message Panels (Alerts)
--------------------------------------------------
*/
.alert-success {
	color: rgba(77, 205, 77, 1);
	background-color: rgba(229, 255, 229, 1);
	border-color: rgba(102, 230, 102, 1);
}

/*
--------------------------------------------------
Buttons
--------------------------------------------------
*/
/* Form Submit Standard */
.btn-primary {
  color: #fff;
  background-color: rgba(0, 0, 128, 1);
  border-color: rgba(0, 0, 128, 1);
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: red;
  border-color: yellow;
}
.btn-primary:hover {
  color: rgba(0, 0, 128, 1);
  background-color: rgba(220, 229, 255,1);
  border-color: rgba(100, 127, 255,1);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: red;
  border-color: orange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: orange;
  border-color: yellow;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: rgba(100, 127, 255,1);
  border-color: green;
}
.btn-primary .badge {
  color: rgba(0, 0, 128, 1);
  background-color: #fff;
}

/*
--------------------------------------------------
Sticky Footer
--------------------------------------------------
*/
html {
  position: relative;
  min-height: 100%;
}
body {
	padding-top: 51px;
  margin-bottom: 42px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 10px 0;
}

.footer {
  	height: auto;
}

/*
--------------------------------------------------
Error Pages
--------------------------------------------------
*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/*
--------------------------------------------------
Modal Dialogs
--------------------------------------------------
*/
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: rgba(0, 0, 128, 1);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}