/*
--------------------------------------------------

--------------------------------------------------
*/

/*
--------------------------------------------------
Placeholders
--------------------------------------------------
*/
form .form-control::-moz-placeholder {
  color: lightgray;
  opacity: 1;
}
form .form-control:-ms-input-placeholder {
  color: lightgray;
}
form .form-control::-webkit-input-placeholder {
  color: lightgray;
}
.select-placeholder {
	color: lightgray;
}
select option:first-child {
	color: lightgray;
}
select option {
	color: #555; // bootstrap default color
}