{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
		<link href="{% static 'css/artist_styles.css' %}" rel="stylesheet">
{#		<link href="{% static 'css/star-rating.min.css' %}" media="all" rel="stylesheet" type="text/css" />#}
{% endblock %}

{% block page_content %}

<div id="headshot-container" class="headshot-container">
	<div id="headshot-background"></div>
	<div id="headshot-header" class="headshot-header">
		<span id="headshot-close" class="headshot-header-caption">Close</span>
	</div>
	<canvas id="headshot-frame-canvas" class="headshot-frame"></canvas>
	<canvas id="headshot-photo-canvas" class="headshot-photo"></canvas>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <canvas class="header-bg" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img id="headshot" data-toggle="modal" data-target="#headshot-popup" src="" alt="" />
                </div>
                <div class="content">
                    <h3>{{ artist_profile.professional_name }}</h3>
{#                     <p> I love Bootstrap. Work for Themeforest</p>#}
{#                    <p><a class="btn btn-link" href="/info/1" role="button">Full story <span class="fa fa-location-arrow"></span></a></p>#}
                </div>
            </div>
        </div>
    </div>

    <div class="row profile-details">
	    <div class="col-sm-12 col-md-12 col-lg-3 profile-details-container">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-md-12 profile-details-header">
						Skills
					</div>
				</div>
				<div class="row text-center profile-details-detail">
				    <div class="col-sm-12 col-md-12 col-lg-12 profile-details-detail-row">
						<div class="container-fluid">
						{% for skill in artist_profile.skills %}
						<div class="row">
						    <div class="col-sm-8 col-md-8 col-lg-8 pull-left text-left">
								{{ skill.skill }}
					        </div>
						    <div class="col-sm-4 col-md-4 col-lg-4 pull-right text-right text-nowrap">
						    	<span name="rating" data-star-count="5" data-rating="{{ skill.rating }}"></span>
					        </div>
						</div>
						{% endfor %}
						</div>
			        </div>
				</div>
			</div>
		</div>
	    <div class="col-sm-12 col-md-12 col-lg-6 profile-details-container">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-md-12 profile-details-header">
						Experience
					</div>
				</div>
				<div class="row text-center profile-details-detail">
				    <div class="col-sm-12 col-md-12 col-lg-12 profile-details-detail-row">
						<div class="container-fluid">
						{% for exp in artist_profile.experience %}
						<div class="row experience-row">
						    <div class="col-sm-6 col-md-6 col-lg-6 pull-left text-left">
								{{ exp.experience }}
					        </div>
						    <div class="col-sm-6 col-md-6 col-lg-6 pull-right text-right text-nowrap">
						    	{{ exp.role }}
					        </div>
						</div>
						{% endfor %}
						</div>
			        </div>
				</div>
			</div>
		</div>
	    <div class="col-sm-12 col-md-12 col-lg-3 profile-details-container">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-md-12 profile-details-header">
						Characteristics
					</div>
				</div>
				<div class="row text-center profile-details-detail">
				    <div class="col-sm-12 col-md-12 col-lg-12 profile-details-detail-row">
						<div class="container-fluid">
						{% for charact in artist_profile.characteristics %}
						<div class="row">
						    <div class="col-sm-8 col-md-8 col-lg-8 pull-left text-left">
								{{ charact.characteristic }}
					        </div>
						    <div class="col-sm-4 col-md-4 col-lg-4 pull-right text-right text-nowrap">
						    	{{ charact.value }}
					        </div>
						</div>
						{% endfor %}
						</div>
			        </div>
				</div>
			</div>
	    </div>
	</div>

</div>

<img class="src-image" src="{% static 'images/users/shannon/profile_000.jpg' %}"/>
<img id="headshot-frame-img" class="headshot-frame-img" src="{% static 'images/frames/frame_006.png' %}">
<img id="headshot-photo-img" class="headshot-photo-img" src="{% static 'images/users/shannon/profile_002.jpg' %}">
<img class="gold-star-image" id="goldstar" src="{% static 'images/gold-star.jpg' %}"/>
<img class="gray-star-image" id="graystar" src="{% static 'images/gray-star.jpg' %}"/>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/stack-blur.js' %}" type="text/javascript"></script>
<script src="{% static 'js/artist.js' %}" type='text/javascript'></script>
{% endblock %}
