{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'artist/css/artist_styles.css' %}" rel="stylesheet">
	<link href="{% static 'quinnrose/css/jssor_carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div id="headshot-container" class="headshot-container">
	<div id="headshot-background"></div>
	<div id="headshot-header" class="headshot-header">
		<span id="headshot-close" class="headshot-header-caption">Close</span>
	</div>
	<canvas id="headshot-frame-canvas" class="headshot-frame"></canvas>
	<canvas id="headshot-photo-canvas" class="headshot-photo"></canvas>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
	            <a class="btn btn-primary btn-profile-contact pull-left" href="/artist/contact">Contact</a>
	            <a class="btn btn-primary btn-profile-contact pull-right" href="/artist/resume">Resume</a>
                <canvas class="header-bg" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img id="headshot" data-toggle="modal" data-target="#headshot-popup" src="" alt="" />
                </div>
                <div class="content">
                    <h3>{{ artist_profile.professional_name }}</h3>
{#                     <p> I love Bootstrap. Work for Themeforest</p>#}
{#                    <p><a class="btn btn-link" href="/info/1" role="button">Full story <span class="fa fa-location-arrow"></span></a></p>#}
                </div>
            </div>
        </div>
	    <div class="col-md-4 profile-characteristics-container">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-md-12 profile-details-header">
						Characteristics
					</div>
				</div>
				<div class="row text-center profile-details-detail">
				    <div class="col-sm-12 col-md-12 col-lg-12 profile-details-detail-row">
						<div class="container-fluid">
						{% for charact in artist_profile.characteristics %}
						<div class="row">
						    <div class="col-sm-8 col-md-8 col-lg-8 pull-left text-left">
								{{ charact.characteristic }}
					        </div>
						    <div class="col-sm-4 col-md-4 col-lg-4 pull-right text-right text-nowrap">
						    	{{ charact.value }}
					        </div>
						</div>
						{% endfor %}
						</div>
			        </div>
				</div>
			</div>
	    </div>
    </div>

    <div class="row profile-details">
	    <div class="col-sm-12 col-md-4 profile-details-container">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-md-12 profile-details-header">
						Skills
					</div>
				</div>
				<div class="row text-center profile-details-detail">
				    <div class="col-sm-12 col-md-12 col-lg-12 profile-details-detail-row">
						<div class="container-fluid">
						{% for skill in artist_profile.skills %}
						<div class="row">
						    <div class="col-sm-8 col-md-8 col-lg-8 pull-left text-left">
								{{ skill.skill }}
					        </div>
						    <div class="col-sm-4 col-md-4 col-lg-4 pull-right text-right text-nowrap">
						    	<span name="rating" data-star-count="5" data-rating="{{ skill.rating }}"></span>
					        </div>
						</div>
						{% endfor %}
						</div>
			        </div>
				</div>
			</div>
		</div>
	    <div class="col-sm-12 col-md-8 profile-details-container">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-md-12 profile-details-header">
						Experience
					</div>
				</div>
				<div class="row text-center profile-details-detail">
				    <div class="col-sm-12 col-md-12 col-lg-12 profile-details-detail-row">
						<div class="container-fluid">
						{% for exp in artist_profile.experience %}
						<div class="row experience-row">
						    <div class="col-sm-6 col-md-6 col-lg-6 pull-left text-left">
								{{ exp.experience }}
					        </div>
						    <div class="col-sm-6 col-md-6 col-lg-6 pull-right text-right text-nowrap">
						    	{{ exp.role }}
					        </div>
						</div>
						{% endfor %}
						</div>
			        </div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
	  	<!-- thumb navigation carousel -->
		<div class="col-md-12 jssor_carousel_col">

		    <div id="jssor_1" class="jssor_main_init">
		        <!-- Loading Screen -->
		        <div data-u="loading" class="jssor_loading_init">
		            <div class="jssor_loading_div1_init"></div>
		            <div class="jssor_loading_div2_init"></div>
		        </div>
		        <div data-u="slides" class="jssor_slides_div">
		        	{% for image in carousel_images %}
		            <div data-p="144.50" style="display: none;"> <!-- Leave this style attribute right here!!! -->
		                <img data-u="image" src="{{ MEDIA_URL }}artists/{{ user_id }}/carousel/{{ image.image }}" />
		                <img data-u="thumb" src="{{ MEDIA_URL }}artists/{{ user_id }}/thumbs/{{ image.thumb }}" />
		            </div>
		            {% endfor %}
		        </div>
		        <!-- Thumbnail Navigator -->
		        <div data-u="thumbnavigator" class="jssort01 jssor_thumbnavigator" data-autocenter="1">
		            <!-- Thumbnail Item Skin Begin -->
		            <div data-u="slides" class="jssor_thumbnavigator_slides">
		                <div data-u="prototype" class="p">
		                    <div class="w">
		                        <div data-u="thumbnailtemplate" class="t"></div>
		                    </div>
		                    <div class="c"></div>
		                </div>
		            </div>
		            <!-- Thumbnail Item Skin End -->
		        </div>
		        <!-- Arrow Navigator -->
		        <span data-u="arrowleft" class="jssora05l jssor_arrow_left"></span>
		        <span data-u="arrowright" class="jssora05r jssor_arrow_right"></span>
		    </div>
		</div>
	</div>
</div>

<img class="src-image" src="{{ MEDIA_URL }}artists/1/orig/20151228_203502_522070_083b3a147eff46a4abdfb820b25451c6.jpg"/>
<img id="headshot-frame-img" class="headshot-frame-img" src="{% static 'artist/images/frames/frame_006.png' %}">
<img id="headshot-photo-img" class="headshot-photo-img" src="{{ MEDIA_URL }}artists/{{ user_id }}/orig/20151228_203502_693202_3042a316c33e4aa3a8e94d5287685d8a.jpg">
<img class="gold-star-image" id="goldstar" src="{% static 'artist/images/gold-star.jpg' %}"/>
<img class="gray-star-image" id="graystar" src="{% static 'artist/images/gray-star.jpg' %}"/>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'quinnrose/js/jssor.slider.min.js' %}" type='text/javascript'></script>
<script src="{% static 'quinnrose/js/jssor_carousel.js' %}" type='text/javascript'></script>
<script src="{% static 'artist/js/stack-blur.js' %}" type="text/javascript"></script>
<script src="{% static 'artist/js/artist.js' %}" type='text/javascript'></script>
{% endblock %}
