<!DOCTYPE html>
{% load staticfiles %}
{% load copyrighttags %}
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>{{ page_title }}</title>

        {% block styles %}
		{% include '_styles.html' %}
        {% endblock %}

    </head>
    
    <body>
        
        <!--Begin navbar -->
		{% include '_menu.html' %}
		<!-- End navbar -->

		<!-- Begin page content -->
		{% block page_content %}
		{% endblock %}
		<!-- End page content -->
		
		<!-- Begin footer -->
		{% include '_footer.html' %}
		<!-- End footer -->
		
		{% block js %}
		{% include '_javascript.html' %}
		{% endblock %}
	    
    </body>
</html>