<!DOCTYPE html>
{% load staticfiles %}
{% load copyrighttags %}
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ page_title }}</title>

		{% include '_favicon.html' %}

		{% block styles %}
		{% include '_styles.html' %}
		{% endblock %}

		<!-- THIS MUST BE HERE SO THAT IT IS LOADED AFTER ALL OF THE CSS FILES! -->
		<!--[if lt IE 9]>
			<script src="{% static 'js/html5shiv.min.js' %}" type="text/javascript"></script>
			<script src="{% static 'js/respond.min.js' %}" type="text/javascript"></script>
		<![endif]-->
	</head>

	<body>

		<!--Begin navbar -->
		{% include '_menu.html' %}
		<!-- End navbar -->

		<!-- Begin page content -->
		{% block page_content %}
		{% endblock %}
		<!-- End page content -->

		<!-- Begin footer -->
		{% include '_footer.html' %}
		<!-- End footer -->

		{% block js %}
		{% include '_javascript.html' %}
		{% endblock %}

	</body>
</html>