{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-main">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="fa fa-chevron-down"></span> Menu
            </button>
            <a href="/"><img class="logo" src="{% static 'images/favicon/favicon-96x96.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse" id="navCollapse">
			<ul class="nav navbar-nav navbar-right">
				{% for item in menu.getItems %}
				<li><a id="{{ item.getId }}" href="{{ item.url }}">{{ item.label }}</a></li>
				{% endfor %}
				{% for dropdown in menu.getDropdownMenus %}
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ dropdown.label }}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for item in dropdown.getItems %}
									{% if item.separator %}
								<li role="separator" class="divider"></li>
									{% elif item.url == None %}
								<li class="dropdown-header">{{ item.label }}</li>
									{% else %}
								<li><a class="dropdown-option" id="{{ item.getId }}" href="{{ item.url }}">{{ item.label }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
					</ul>
				{% endfor %}
			</ul>
        </div>
    </div>
</nav>
