{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-main">
	<div class="container-fluid custom-navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="fa fa-chevron-down"></span> Menu
			</button>
			<a href="/"><img class="logo" src="{% static 'quinnrose/images/favicon/favicon-96x96.jpg' %}"></a>
		</div>
		<div class="collapse navbar-collapse" id="navCollapse">
			<ul class="nav navbar-nav navbar-right">

				{% for item in menu.getItems %}
					{% if item.is_dropdown %}
						{% if item.foreign_object %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.label }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for social_link in item.foreign_object.get_items %}
							<li><a class="dropdown-option" href="{{ social_link.url }}"><img class="share-menu-img" src="{% static 'quinnrose/images/share_icons/' %}{{ social_link.image }}"> {{ social_link.label }}</a></li>
							{% endfor %}
						</ul>
					</li>
				</ul>
						{% else %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.label }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for dd in item.getItems %}
								{% if dd.separator %}
							<li role="separator" class="divider"></li>
								{% elif dd.url == None %}
							<li class="dropdown-header">{{ dd.label }}</li>
								{% else %}
							<li><a class="dropdown-option" id="{{ dd.getId }}" href="{{ dd.url }}">{{ dd.label }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				</ul>
						{% endif %}

					{% else %}

				<li><a id="{{ item.getId }}" href="{{ item.url }}">{{ item.label }}</a></li>

					{% endif %}
				{% endfor %}

				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Share<span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for item in shares.get_items %}
							<li><a class="dropdown-option" href="{{ item.url }}"><img class="share-menu-img" src="{% static 'quinnrose/images/share_icons/' %}{{ item.image }}"> {{ item.label }}</a></li>
							{% endfor %}
						</ul>
					</li>
				</ul>

				{% if not is_home_page %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a id="help-dropdown-link" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-search navbar-search-icon"></span></a>
						<ul class="dropdown-menu navbar-search-option">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form class="form" data-toggle="validator" role="form" method="get" action="/search" id="search_form">
{#											{% csrf_token %}#}
											<div class="form-group">
												<input type="text" class="form-control navbar-search-text" id="id_keywords" name="keywords" placeholder="Search keywords..." required="required" />
												<div class="help-block with-errors"></div>
											</div>
											<div class="form-group">
												<div class="btn-group btn-group-vertical" data-toggle="buttons">
													<label class="btn active">
														<input class="form-control" type="radio" id="id_search_what" name="search_what" value="general" required="required"{% if request.session.current_app == 'quinnrose' %} checked{% endif %} /><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>General</span>
													</label>
													<label class="btn">
														<input class="form-control" type="radio" id="id_search_what" name="search_what" value="artists" required="required"{% if request.session.current_app == 'artist' %} checked{% endif %} /><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>Artists</span>
													</label>
													<label class="btn">
														<input class="form-control" type="radio" id="id_search_what" name="search_what" value="organizaitons" required="required"{% if request.session.current_app == 'organization' %} checked{% endif %} /><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>Organizations</span>
													</label>
													<label class="btn">
														<input class="form-control" type="radio" id="id_search_what" name="search_what" value="community" required="required"{% if request.session.current_app == 'community' %} checked{% endif %} /><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>Community</span>
													</label>
												</div>
												<div class="help-block with-errors"></div>
											</div>
											<input type="submit" class="form-control btn btn-primary" value="Search">
										</form>
									</div>
								</div>
							</li>
							<li><a class="dropdown-option" href="/search/advanced">Advanced search...</a></li>
						</ul>
					</li>
				</ul>
				{% endif %}
				
			</ul>
		</div>
	</div>
</nav>
