{% extends 'about.html' %}
{% load staticfiles %}


{% block about_page_content %}

<div class="panel panel-default">
	<div class="panel-body panel-text">
		<p>{{ full_site_name }} is not an agency - the service does not cast, hire or represent individuals.</p>
		<hr>
		<p>{{ full_site_name }} does not handle negotiations or contracts between any parties.</p>
		<hr>
		<p>{{ full_site_name }} is not affiliated with any unions or professional representatives.</p>
		<hr>
		<p>{{ full_site_name }} is not affiliated with nor represent any organizations.</p>
	</div>
</div>

{% endblock %}
				