{% extends 'about.html' %}
{% load staticfiles %}


{% block about_page_content %}

<div class="panel panel-default">
	<div class="panel-body panel-text">
		<p>To assist artists in sharing their talents in whatever manner they choose.</p>
		<hr>
		<p>To give any arts organization an all-inclusive resource for promoting itself and its events.</p>
		<hr>
		<p>To provide organizations with a web presence that can be used to market current and future events as well as share event history.</p>
		<hr>
		<p>To leverage all information collected in order to form the basis for any web presence.</p>
		<hr>
		<p>To provide a quality user experience.</p>
	</div>
</div>

{% endblock %}
				