<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>QuinnRose Talent Connection</title>

        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
		<!-- Local CSS -->
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
        
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    
    <body  >
        
        <!--Begin navbar -->
		<nav class="navbar navbar-default transparent navbar-static-top" role="navigation" id="navbar-main">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
		                <span class="sr-only">Toggle Navigation</span>
		                <span class="fa fa-chevron-down"></span> Menu
		            </button>
		            <a class="logo" href="#"><img class="logo-frame" src="{% static 'images/logo.jpg' %}"></a>
		        </div>
		        <div class="collapse navbar-collapse" id="navCollapse">
					<ul class="nav navbar-nav navbar-right">
						{% for item in menu.getItems %}
						<li><a href="{{ item.url }}">{{ item.label }}</a></li>
						{% endfor %}
						{% for dropdown in menu.getDropdownMenus %}
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ dropdown.label }}<span class="caret"></span></a>
									<ul class="dropdown-menu">
										{% for item in dropdown.getItems %}
											{% if item.separator %}
										<li role="separator" class="divider"></li>
											{% elif item.url == None %}
										<li class="dropdown-header">{{ item.label }}</li>
											{% else %}
										<li><a href="{{ item.url }}">{{ item.label }}</a></li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							</ul>
						{% endfor %}
						</li>
					</ul>
		        </div>
		    </div>
		</nav>
		<!-- End navbar -->

		<!-- Begin carousel background -->
		<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
			<!-- Begin wrapper for slides -->
		    <div class="carousel-inner">
		    	{% for img in carousel_images %}
		    		{% if forloop.counter == 1 %}
		        <div class="item active">
		        	{% else %}
		        <div class="item">
		        	{% endif %}
		            <div class="slide slide{{ forloop.counter }}"></div>
		        </div>
		        {% endfor %}
		    </div>
			<!-- End wrapper for slides -->
			<!-- Begin carousel content -->
		    <div class="container carousel-overlay text-center">
		        <h1>Bringing talent together...</h1>
		        <p>&nbsp;</p>
{#		        <p class="lead">Special orders also available upon request.  Check out our pricing.</p>#}
		        <a class="btn btn-lg btn-success" href="#">
		            <span class="fa fa-check"></span> Artists
		        </a>
		        <a class="btn btn-lg btn-success" href="#">
		            <span class="fa fa-check"></span> Organizations
		        </a>
		    </div>
			<!-- End carousel content -->
		</div> 
		<!-- End carousel background -->
		
		<!-- Begin page content -->
		<div class="container">
		  	<!-- Begin home page info -->
			<div class="row text-center">
				{% for info_item in home_page_info %}
				<div class="col-md-4">
					<div class="fa fa-{{ info_item.icon }} fa-3x circles"></div>
					<h2>{{ info_item.title }}</h2>
					<p>{{ info_item.description }}</p>
					<p><a class="btn btn-default" href="{{ info_item.get_link_path }}" role="button">{{ info_item.button_text }} »</a></p>
				</div>
				{% endfor %}
			</div>
			<!-- End home page info -->
		  
		  	<!-- Begin featurettes -->
			{% for featurette in featurettes %}
				{% cycle 0 1 as cycle_value silent %}
			<hr>
			<div class="row">
				{% if cycle_value == 0 %}
				<div class="col-md-7">
				{% else %}
				<div class="col-md-7 col-md-push-5">
				{% endif %}
					<h2 class="featurette-heading">{{ featurette.title }}
					<span class="text-muted">{{ featurette.sub_title }}</span></h2>
					<p class="lead">{{ featurette.description }}</p>
				</div>
				{% if cycle_value == 0 %}
				<div class="col-md-5 text-center">
				{% else %}
				<div class="col-md-5 col-md-pull-7 text-center">
				{% endif %}
					<img src="{% static 'images/' %}{{ featurette.image_file_name }}" class="featurette-image img-responsive">
				</div>
			</div>
			{% endfor %}
			
{#			<hr>#}
			
{#			<div class="row">#}
{#				<div class="col-md-7 col-md-push-5">#}
{#					<h2 class="featurette-heading">Second featurette heading.#}
{#					<span class="text-muted">Second featurette sub-heading.</span></h2>#}
{#					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
{#				</div>#}
{#				<div class="col-md-5 col-md-pull-7 text-center">#}
{#					<img src="{% static 'images/carousel-07.jpg' %}" alt="placeholder" class="featurette-image img-responsive">#}
{#				</div>    #}
{#			</div>#}
			
{#			<hr>#}
			
{#			<div class="row">#}
{#			<div class="col-md-7">#}
{#			<h2 class="featurette-heading">Third featurette heading. <span class="text-muted">Third featurette sub-heading.</span></h2>#}
{#			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
{#			</div>#}
{#			<div class="col-md-5 text-center">#}
{#			<img src="{% static 'images/carousel-08.jpg' %}" alt="placeholder" class="featurette-image img-responsive">#}
{#			</div>#}
{#			</div>#}
		  <!-- End featurettes -->
		</div>
		
		<!-- Begin footer -->
		<hr>
	    <footer class="footer">
			<div class=" conainer-fluid row-same-height">
				<div class="col-md-offset-3 col-md-2 text-center">© 2015 QuinnRose</div>
				<div class="col-md-2 text-center"><a href="#">Privacy</a></div>
				<div class="col-md-2 text-center"><a href="#">Terms</a></div>
		  	</div>
	    </footer>
		
{#		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#		<div class="modal-dialog">#}
{#		<div class="modal-content">#}
{#			<div class="modal-header">#}
{#				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#					<h3 id="myModalLabel">Modal header</h3>#}
{#			</div>#}
{#			<div class="modal-body">#}
{#				<p>One fine body…</p>#}
{#			</div>#}
{#			<div class="modal-footer">#}
{#				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>#}
{#				<button class="btn btn-primary">Save changes</button>#}
{#			</div>#}
{#		</div>#}
{#		</div>#}
{#		</div>#}
        
	    <!-- Bootstrap core JavaScript -->
	    <script src="{% static 'js/jquery.min.js' %}"></script>
	    <script type='text/javascript' src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
		<!-- Local JavaScript -->
	    <script src="{% static 'js/base.js' %}"></script>
	    
	    <script>
	    	{% for img in carousel_images %}
		    var slide{{ forloop.counter }} = document.getElementsByClassName('slide{{ forloop.counter }}')[0];
			slide{{ forloop.counter }}.style.backgroundImage = "url('{% static 'images/' %}{{ img }}')";
	        {% endfor %}
	    
	    
	    </script>
    </body>
</html>