<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>QuinnRose Talent Connection</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<!-- Local CSS -->
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
        
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body  >
        
        <!--navigation bar-->
		<nav class="navbar navbar-default transparent navbar-static-top" role="navigation" id="navbar-main">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
		                <span class="sr-only">Toggle Navigation</span>
		                <span class="fa fa-chevron-down"></span> Menu
		            </button>
		            <a class="logo" href="#"><img class="logo-frame" src="{% static 'images/logo.jpg' %}"></a>
		        </div>
		        <div class="collapse navbar-collapse" id="navCollapse">
					<ul class="nav navbar-nav navbar-right">
						{% for item in menu.getItems %}
						<li><a href="{{ item.url }}">{{ item.label }}</a></li>
						{% endfor %}
						{% for dropdown in menu.getDropdownMenus %}
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ dropdown.label }}<span class="caret"></span></a>
									<ul class="dropdown-menu">
										{% for item in dropdown.getItems %}
											{% if item.separator %}
										<li role="separator" class="divider"></li>
											{% elif item.url == None %}
										<li class="dropdown-header">{{ item.label }}</li>
											{% else %}
										<li><a href="{{ item.url }}">{{ item.label }}</a></li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							</ul>
						{% endfor %}
						</li>
					</ul>
		        </div>
		    </div>
		</nav>
		<!--end nav bar-->

		<!--begin bg-carousel-->
		<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<!-- Wrapper for slides -->
		    <div class="carousel-inner">
		    	{% for img in carousel_images %}
		    		{% if forloop.counter == 1 %}
		        <div class="item active">
		        	{% else %}
		        <div class="item">
		        	{% endif %}
		            <div class="slide slide{{ forloop.counter }}"></div>
		        </div>
		        {% endfor %}
{#		        <div class="item active">#}
{#		            <div class="slide1"></div>#}
{#		        </div>#}
{#		        <div class="item">#}
{#		            <div class="slide2"></div>#}
{#		        </div>#}
{#		        <div class="item">#}
{#		            <div class="slide3"></div>#}
{#		        </div>#}
		    </div><!-- .carousel-inner --> 
		    <div class="container carousel-overlay text-center">
		        <h1>Get Kittens Free All Week Long</h1>
		        <p class="lead">Special orders also available upon request.  Check out our pricing.</p>
		        <a class="btn btn-lg btn-success fp-buttons" href="#">
		            <span class="fa fa-dollar"></span> Get Pricing
		        </a>
		        <a class="btn btn-lg btn-success fp-buttons" href="#">
		            <span class="fa fa-check"></span> Sign Up
		        </a>
		    </div>
		</div><!-- .carousel --> 
		<!--end bg-carousel-->
		
		<!--The rest of your page content below-->
		<div class="container">
		  <!-- Example row of columns -->
		  <div class="row text-center">
		    <div class="col-md-4">
		      <div class="fa fa-paw fa-3x circles"></div>
		      <h2>Paws Advantage</h2>
		      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		      <p><a class="btn btn-default" href="#" role="button">Get the Scoop »</a></p>
		    </div>
		    <div class="col-md-4">
		      <div class="fa fa-heart fa-3x circles"></div>
		      <h2>Favorite Paws</h2>
		      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		      <p><a class="btn btn-default" href="#" role="button">More faves »</a></p>
		    </div>
		    <div class="col-md-4">
		      <div class="fa fa-book fa-3x circles"></div>
		      <h2>Paws Tales</h2>
		      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		      <p><a class="btn btn-default" href="#" role="button">Full Story »</a></p>
		    </div>
		  </div>
		  
		  <!-- START THE FEATURETTES -->
		  
		  <hr>
		  
		  <div class="row">
		    <div class="col-md-7">
		      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
		      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		    </div>
		    <div class="col-md-5 text-center">
		      <img src="http://placehold.it/350/398439/fff&amp;text=Image+Holder" alt="placeholder" class="featurette-image img-responsive">
		    </div>
		  </div>
		  
		  <hr>
		  
		  <div class="row">
		    <div class="col-md-7 col-md-push-5">
		      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
		      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		    </div>
		    <div class="col-md-5 col-md-pull-7 text-center">
		      <img src="http://placehold.it/350/398439/fff&amp;text=Image+Holder" alt="placeholder" class="featurette-image img-responsive">
		    </div>    
		  </div>
		  
		  <hr>
		  
		  <div class="row">
		    <div class="col-md-7">
		      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
		      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		    </div>
		    <div class="col-md-5 text-center">
		      <img src="http://placehold.it/350/398439/fff&amp;text=Image+Holder" alt="placeholder" class="featurette-image img-responsive">
		    </div>
		  </div>
		  <!-- /END THE FEATURETTES -->
		</div>
		<hr>
		<!-- FOOTER -->
		<footer class="container-fluid">
		  <p class="pull-right"><a href="#">Back to top</a></p>
		  <p>© 2014 Paws Brand, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
		</footer>
		
		<div class="container"></div><div class="dropdown clearfix">
		   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
		      <li><a tabindex="-1" href="#">Action</a></li>
		      <li><a tabindex="-1" href="#">Another action</a></li>
		      <li><a tabindex="-1" href="#">Something else here</a></li>
		      <li class="divider"></li>
		      <li><a tabindex="-1" href="#">Separated link</a></li>
		    </ul>
		  </div><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Launch demo modal</a>
		
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Modal header</h3>
			</div>
			<div class="modal-body">
				<p>One fine body…</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary">Save changes</button>
			</div>
		</div>
		</div>
		</div>
        
	    <!-- Bootstrap core JavaScript -->
	    <script src="{% static 'js/jquery.min.js' %}"></script>
	    <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}/"></script>
		<!-- Local JavaScript -->
	    <script src="{% static 'js/base.js' %}/"></script>
	    
	    <script>
	    	{% for img in carousel_images %}
		    var slide{{ forloop.counter }} = document.getElementsByClassName('slide{{ forloop.counter }}')[0];
			slide{{ forloop.counter }}.style.backgroundImage = "url('{% static 'images/' %}{{ img }}')";
	        {% endfor %}
	    
	    
	    </script>
    </body>
</html>