{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'quinnrose/css/help_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="container-fluid">

	<div class="container">
		<div class="row">
	        <div class="col-md-12">
				<div class="dropdown sub-menu category-button">
				  <button class="btn btn-error dropdown-toggle sub-menu" type="button" id="help-category-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
				  <ul class="dropdown-menu" aria-labelledby="help-category-menu">
				  	{% for category in categories %}
				    <li><a class="sub-menu" id="{{ category.category }}_category" href="/help/topics/{{ category.category }}">{{ category.label }}</a></li>
				    {% endfor %}
				  </ul>
				</div>
	        </div>
	    </div>

		<div class="row">
			<div class="col-md-4">
				<div class="list-group">
					<a id="help_topics" href="/help/topics/{{ help_app }}" class="list-group-item sub-sub-menu{% if section == 'topics' %} active{% endif %}">Topics</a>
					<a id="help_faqs" href="/help/faqs/{{ help_app }}" class="list-group-item sub-sub-menu{% if section == 'faqs' %} active{% endif %}">FAQs</a>
				</div>
			</div>
			<div class="col-md-8 panel-text">
				<div class="panel-group" id="accordion">
					{% for item in items %}
					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="list-group-item">{{ item.header }}</a>
						<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse ">
							<div class="panel-body">
								{{ item.content }}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var cur_category = '{{ help_app }}' || 'quinnrose';
</script>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'quinnrose/js/help.js' %}" type='text/javascript'></script>
{% endblock %}
