{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'css/help_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>Help</h3>
</div>

<div class="container-fluid">

	<div class="container">
		<div class="row">

	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	            <div class="list-group list-group-horizontal">
	                <a href="/help/topics/quinnrose" class="list-group-item sub-menu{% if help_app == 'quinnrose' %} active{% endif %}">General</a>
	                <a href="/help/topics/artist" class="list-group-item sub-menu{% if help_app == 'artist' %} active{% endif %}">Artists</a>
	                <a href="/help/topics/organization" class="list-group-item sub-menu{% if help_app == 'organization' %} active{% endif %}">Organizations</a>
	                <a href="/help/topics/community" class="list-group-item sub-menu{% if help_app == 'community' %} active{% endif %}">Community</a>
	            </div>
	
	        </div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="list-group">
					<a id="help_topics" href="/help/topics/{{ help_app }}" class="list-group-item sub-sub-menu{% if section == 'topics' %} active{% endif %}">Topics</a>
					<a id="help_faqs" href="/help/faqs/{{ help_app }}" class="list-group-item sub-sub-menu{% if section == 'faqs' %} active{% endif %}">FAQs</a>
				</div>
			</div>
			<div class="col-md-8 panel-text">
				<div class="panel-group" id="accordion">
					{% for title,desc in data %}
					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="list-group-item">{{ title }}</a>
						<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse ">
							<div class="panel-body">
								{{ desc }}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
