{% extends 'base.html' %}
{% load staticfiles %}

{% block page_content %}
<!-- Begin carousel background -->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Begin indicators -->
    <ol class="carousel-indicators">
    	{% for img in carousel_images %}
    		{% if forloop.counter0 == 0 %}
        <li data-target="#bg-fade-carousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        	{% else %}
        <li data-target="#bg-fade-carousel" data-slide-to="{{ forloop.counter0 }}"></li>
        	{% endif %}
        {% endfor %}
    </ol>
    <!-- End indicators -->
	<!-- Begin wrapper for slides -->
    <div class="carousel-inner">
    	{% for img in carousel_images %}
    		{% if forloop.counter == 1 %}
        <div class="item active">
        	{% else %}
        <div class="item">
        	{% endif %}
            <div id="slide{{ forloop.counter }}" class="slide"></div>
        </div>
        {% endfor %}
    </div>
	<!-- End wrapper for slides -->
	<!-- Begin carousel content -->
    <div class="container carousel-overlay text-center">
        <a class="btn btn-lg btn-primary" href="#">
            <span class="fa fa-check"></span> Artists
        </a>
        <a class="btn btn-lg btn-primary" href="#">
            <span class="fa fa-check"></span> Organizations
        </a>
    </div>
	<!-- End carousel content -->
    <!-- Begin controls -->
    <a class="left carousel-control" href="#bg-fade-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#bg-fade-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- End controls -->
</div> 
<!-- End carousel background -->

<!-- Begin main content -->
<div class="container">
  	<!-- Begin home page info -->
	<div class="row text-center">
		{% for info_item in home_page_info %}
		<div class="col-md-4">
			<div class="fa fa-{{ info_item.icon }} fa-2x circles"></div>
			<h2>{{ info_item.title }}</h2>
			<p>{{ info_item.description }}</p>
			<p><a class="btn btn-default" href="{{ info_item.get_link_path }}" role="button">{{ info_item.button_text }} <span class="fa fa-location-arrow"></span></a></p>
		</div>
		{% endfor %}
	</div>
	<!-- End home page info -->
  
  	<!-- Begin featurettes -->
	{% for featurette in featurettes %}
		{% cycle 0 1 as cycle_value silent %}
	<hr>
	<div class="row">
		{% if cycle_value == 0 %}
		<div class="col-md-7">
		{% else %}
		<div class="col-md-7 col-md-push-5">
		{% endif %}
			<h2 class="featurette-heading">{{ featurette.title }}<br>
			<span class="text-muted">{{ featurette.sub_title }}</span></h2>
			<p class="lead">{{ featurette.description }}</p>
		</div>
		{% if cycle_value == 0 %}
		<div class="col-md-5 text-center">
		{% else %}
		<div class="col-md-5 col-md-pull-7 text-center">
		{% endif %}
			<img src="{% static 'images/' %}{{ featurette.image_file_name }}" class="featurette-image img-responsive">
		</div>
	</div>
	{% endfor %}
	
  <!-- End featurettes -->
</div>
<!-- End main content -->

<script>
	{% for img in carousel_images %}
    var slide{{ forloop.counter }} = document.getElementById('slide{{ forloop.counter }}');
	slide{{ forloop.counter }}.style.backgroundImage = "url('{% static 'images/' %}{{ img }}')";
    {% endfor %}
</script>

{% endblock %}
