{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'quinnrose/css/forms.css' %}" rel="stylesheet">
	<link href="{% static 'quinnrose/css/home_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="container-fluid home-banner">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="carousel-img" src="{% static 'quinnrose/images/home_banner.jpg' %}">
						<div class="container-fluid home-page-search">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 home-page-search-field">
									<form id="home_search_form" class="form-horizontal custom-form" role="form" action="/search" method="get">
										<div class="form-group input-group">
											<input class="form-control" type="text" id="keywords" name="keywords" placeholder="Search keywords..." required="required" />
											<div class="input-group-btn">
        										<button id="search_submit_button" type="button" class="btn btn-default home-page-search-button1" data-toggle="dropdown"><i class="fa fa-search"></i></button>
        									</div>
												<div class="dropup">
	        										<button type="button" class="btn btn-default dropdown-toggle home-page-search-button2" data-toggle="dropdown"><i class="fa fa-sort-desc"></i></button>
													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="javascript:goSearch('artist');">Artists</a></li>
														<li><a href="javascript:goSearch('organization');">Organizations</a></li>
														<li><a href="javascript:goSearch('community');">Community Blog</a></li>
														<li role="separator" class="divider"></li>
														<li><a href="/search/advanced">Advanced search...</a></li>
													</ul>
												</div>
											</div>
{#											<span class="input-group-btn">#}
{#												<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>#}
{#								            </span>#}
										</div>
									</form>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</div>

<!-- Begin main content -->
<div class="container">
  	<!-- Begin home page info -->
	<div class="row text-center">
		{% for info_item in home_page_info %}
		<div class="col-md-4">
			<a href="{{ info_item.link }}">
				<div class="fa fa-{{ info_item.icon }} fa-2x circles"></div>
			</a>
			<h2 class="info-header">
				<a 	href="{{ info_item.link }}"
					class="info-link"
					data-toggle="popover"
					data-trigger="hover focus"
					data-placement="auto top"
					data-html=true data-content="{{ info_item.description }}"
				>
				{{ info_item.title }}
				</a>
			</h2>
			<p class="info-description">{{ info_item.description }}</p>
{#			<p><a class="btn btn-default" href="{{ info_item.get_link_path }}" role="button">{{ info_item.button_text }} <span class="fa fa-location-arrow"></span></a></p>#}
		</div>
		{% endfor %}
	</div>
	<!-- End home page info -->
</div>
<!-- End main content -->

<script>
	{% for img in carousel_images %}
    var slide{{ forloop.counter }} = document.getElementById('slide{{ forloop.counter }}');
	slide{{ forloop.counter }}.style.backgroundImage = "url('{% static 'images/' %}{{ img }}')";
    {% endfor %}
</script>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'quinnrose/js/home.js' %}" type='text/javascript'></script>
{% endblock %}
