{% extends 'signin.html' %}
{% load staticfiles %}


{% block signin_page_content %}

<form id="register-form" action="#" method="post" data-toggle="validator" role="form" style="display: block;">
	{% csrf_token %}

	{% if messages %}
        {% for message in messages %}
	    <div class="col-sm-offset-2 text-center alert alert-{{ message.tags }}">
	    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	        <ul class="list-unstyled">
	                <li>{{ message }}</li>
	        </ul>
	    </div>
        {% endfor %}
	{% endif %}

	{{ form.non_field_errors }}

	<div class="form-group">
		<div class="row">
			<div class="col-sm-3">
				<label class="control-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
			</div>
			<div class="col-sm-9">
				{{ form.first_name }}
				<div class="help-block with-errors"></div>
			    {{ form.first_name.errors }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-3">
				<label class="control-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
			</div>
			<div class="col-sm-9">
				{{ form.last_name }}
				<div class="help-block with-errors"></div>
			    {{ form.last_name.errors }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-3">
				<label class="control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
			</div>
			<div class="col-sm-9">
				{{ form.email }}
				<div class="help-block with-errors"></div>
			    {{ form.email.errors }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-3">
				<label class="control-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
			</div>
			<div class="col-sm-9">
				{{ form.password }}
				<div class="help-block with-errors"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-3">
				<label class="control-label" for="{{ form.password_confirm.id_for_label }}">{{ form.password_confirm.label }}</label>
			</div>
			<div class="col-sm-9">
				{{ form.password_confirm }}
				<div class="help-block with-errors"></div>
			    {{ form.password.errors }}
			</div>
		</div>
	</div>

	{# Include the hidden fields #}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-primary" value="Register Now">
			</div>
		</div>
	</div>
	<div class="row">
		<a href="/signin">
			<div class="col-xs-12 text-center hot-region">
				Already registered?
			</div>
		</a>
	</div>
</form>

{% endblock %}
