{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>{{ page_header }}</h3>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel custom-form">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">

						{% block signin_page_content %}
						{% endblock %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'bootstrap/js/validator.js' %}" type='text/javascript'></script>
<script src="{% static 'js/forms.js' %}" type='text/javascript'></script>
{% endblock %}



