{% extends 'base.html' %}
{% load staticfiles %}

{% block page_specific_css %}
		<link href="{% static 'css/subscription_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>Subscriptions</h3>
</div>

<div class="container-fluid">
	<div class="container">
        <!-- Begin header -->
        <header class="jumbotron subscription-jumbotron">
            <h2>{{ headers.header }}</h2>
            <p>{{ headers.description }}</p>
            <h2>
	            <a class="btn btn-primary btn-large" href="/subscribe/{{ subtype }}">Let's do it!</a>
	            <a class="btn btn-default btn-large pull-right" href="/subscriptions/{{ othersubtype }}">{{ othersubtypelabel }}</a>
           	</h2>
        </header>
        <!-- End header -->

        <hr>

		<!-- Begin title -->
		<div class="row">
		    <div class="col-lg-12">
		        <h3>The packages...</h3>
		    </div>
		</div>
		<!-- End title -->
		
		<!-- Begin body content -->
		<div class="container">
			<div class="row text-center">
			
				{% for item in data %}
			    <div class="col-md-4 col-sm-6">
			        <div class="thumbnail">
			            <img src="{% static 'images' %}/{{ item.image }}" alt="">
			            <div class="caption">
			                <div class="panel-group">
				                <div class="panel-default">
					                <div class="panel-body subscriptions-level">
						                <h2>{{ item.level }}</h2>
					                </div>
						        </div>
				                <div class="panel-default">
					                <div class="panel-body">
					                	{{ item.description }}
					                </div>
						        </div>
				                <div class="panel-default">
					                <div class="panel-body">
					                	<span class="subscriptions-price-month">{{ item.price_per_month }}{% if item.price_per_month != 'Free' %} per month{% endif %}</span>
					                </div>
						        </div>
						        {% if item.price_per_month != 'Free' %}
				                <div class="panel-default">
					                <div class="panel-body">
					                	<span class="subscriptions-price-year">Special Savings:<br>{{ item.price_per_year }} per year</span>
					                </div>
						        </div>
						        {% endif %}
				                <div class="panel-default">
					                <div class="panel-body">
					                    <a href="/subscribe/{{ subtype }}" class="btn btn-primary">Subscribe</a>
					                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#details{{ forloop.counter }}">Details</a>
						            </div>
						        </div>
					        </div>
			            </div>
			        </div>
			    </div>
				{% endfor %}
			</div>
		</div>
		<!-- End body content -->
	</div>
</div>

<!-- Begin modal details -->
{% for item in data %}
<div class="modal fade" id="details{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="details{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            	<h4 class="modal-title" id="myModalLabel">{{ item.level }} - subscription details</h4>
            </div>
		    <div class="modal-body">
				<ul class="list-group">
					{% for detail in item.details %}
					<li class="list-group-item list-bullet">{{ detail }}</li>
					{% endfor %}
				</ul>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{#                <button type="button" class="btn btn-primary">Save changes</button>#}
        </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End modal details -->

{% endblock %}
