{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'css/forms.css' %}" rel="stylesheet">
	<link href="{% static 'css/subscribe_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>Subscribe</h3>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel custom-form">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">

							<div class="container-fluid">
								{% if subtype == 'artist' %}
								<p class="lead">OK {{ user.first_name }} let's set up a subscription for you...</p>
								{% else %}
								<p class="lead">OK {{ user.first_name }} let's set up a subscription for your organization...</p>
								{% endif %}
							</div>
							<div class="list-group">
								<a href="/subscriptions/{{ subtype }}" class="list-group-item check-subscriptions-panel">Check out the available subscription options here...</a>
							</div>

							<form id="contact_form" class="form-horizontal" data-toggle="validator" role="form" action="/contact" method="post">
								{% csrf_token %}
					
								{% if messages %}
						            {% for message in messages %}
								    <div class="col-sm-offset-2 text-center alert alert-{{ message.tags }}">
								    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								        <ul class="list-unstyled">
								                <li>{{ message }}</li>
								        </ul>
								    </div>
						            {% endfor %}
								{% endif %}
						
								{{ form.non_field_errors }}
					
								{% if subtype == 'organization' %}
								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.organization.id_for_label }}">{{ form.organization.label }}</label>
									<div class="col-md-9">
										{{ form.organization }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.organization.errors }}
								{% endif %}
								
								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.level.id_for_label }}">{{ form.level.label }}</label>
									<div class="col-md-9">
										{{ form.level }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.level.errors }}

								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.billing_frequency.id_for_label }}">{{ form.billing_frequency.label }}</label>
									<div class="col-md-9">
										{{ form.billing_frequency }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.billing_frequency.errors }}

								<div class="form-group">
									<div class="col-md-9 col-md-offset-3">
										<div class="panel panel-default plan-panel">
											<div id="plan-div" class="panel-body">
												You've chosen the <span id="plan-level"></span> level, 
												which is <span id="plan-price"></span>
												<span id="plan-label"></span><span id="plan-savings-text"> (a yearly savings of <i><span id="plan-savings"></span></i>!)</span>.
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
									<div class="col-md-9">
										{{ form.email }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.email.errors }}

								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.name_on_card.id_for_label }}">{{ form.name_on_card.label }}</label>
									<div class="col-md-9">
										{{ form.name_on_card }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.name_on_card.errors }}

								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.card_number.id_for_label }}">{{ form.card_number.label }}</label>
									<div class="col-md-9">
										{{ form.card_number }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.card_number.errors }}
								

								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.expiration_date.id_for_label }}">{{ form.expiration_date.label }}</label>
									<div class="col-md-9">
										{{ form.expiration_date }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.expiration_date.errors }}

								<div class="form-group">
									<label class="control-label col-md-3" for="{{ form.card_code.id_for_label }}">{{ form.card_code.label }}</label>
									<div class="col-md-9">
										{{ form.card_code }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							    {{ form.card_code.errors }}


								{# Include the hidden fields #}
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
					
								<div class="form-group">
									<label class="control-label col-md-3"></label>
									<div class="col-md-9">
									    <input type="submit" class="btn btn-primary" value="Subscribe" />
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var level = '{{ level }}';
	var billing_info = {
		{% for row in js_dict %}
		'{{ row.level_id }}_{{ row.freq_id }}': { 'label': '{{ row.label }}', 'price': '{{ row.price }}', 'savings': '{{ row.savings }}' },
		{% endfor %}
	};
	
</script>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/forms.js' %}" type='text/javascript'></script>
<script src="{% static 'js/subscribe.js' %}" type='text/javascript'></script>
{% endblock %}
