{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'css/doc_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>Terms and Conditions</h3>
</div>

<div class="container-fluid">


<p><i>{{ full_site_name }}</i> is located at:</p>

<ul class="list-unstyled doc">
	<li>{{ company_address1 }}</li>
	<li>{{ company_city }}, {{ company_state }} {{ company_postal_code }}</li>
	<li>{{ company_country }}</li>
</ul>

<p>By accessing this website, we assume you accept these terms and
conditions in full. Do not continue to use the <i>{{ full_site_name }}</i> website if you
do not accept all of the terms and conditions stated on this page.</p>

<ol class="doc">
	<li class="doc-section">Terminology</li>
	<ul class="list-unstyled">
		<li>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements:</li>
	</ul>
	<ol class="doc">
		<li>&quot;Client&quot;, &quot;You&quot; and &quot;Your&quot; refers to you, the person accessing this website and accepting the Company's terms and conditions.</li>
		<li>&quot;The Company&quot;, &quot;Ourselves&quot;, &quot;We&quot;, &quot;Our&quot; and &quot;Us&quot;, refers to our Company.</li>
		<li>&quot;Party&quot;, &quot;Parties&quot;, or &quot;Us&quot;, refers to both the Client and ourselves, or either the Client or ourselves.</li>
	</ol>
	<ul class="list-unstyled">
		<li>All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services/products, in accordance with and subject to, prevailing law of United States. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</li>
	</ul>
	<li class="doc-section">Cookies</li>
	<ol class="doc">
		<li>We employ the use of cookies. By using the <i>{{ full_site_name }}</i> website, you consent to the use of cookies in accordance with the <i>{{ full_site_name }}</i> <a href="/privacy">Privacy Policy</a>.</li>
		<li>Most of the modern day interactive websites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate/advertising partners may also use cookies.</li>
	</ol>
	<li class="doc-section">License</li>
	<ul class="list-unstyled">
		<li>Unless otherwise stated, <i>{{ full_site_name }}</i> and/or its licensors own the intellectual property rights for all material on <i>{{ full_site_name }}</i>. All intellectual property rights are reserved. You may view and/or print pages from {{ request.get_host }} for your own personal use subject to restrictions set in these terms and conditions.</li>
	</ul>
	<ul class="list-unstyled">
		<li>You must not:</li>
	</ul>
	<ol class="doc">
		<li>Republish material from {{ request.get_host }}</li>
		<li>Sell, rent or sub-license material from {{ request.get_host }}</li>
		<li>Reproduce, duplicate or copy material from {{ request.get_host }}</li>
		<li> Redistribute content from {{ request.get_host }} (unless content is specifically made for redistribution)</li>
	</ol>
	<li class="doc-section">Usage and Access</li>
	<ol class="doc">
		<li>You may not use the services of <i>{{ full_site_name }}</i> for any other person. Allowing another person to use your individual credentials to access the system is a violation and your account will be immediately suspended.</li>
		<li>Any member of an organization that wishes to access the organization's information must be a registered user and authorized by the organization to access and/or modify information any organization data on behalf of the organization. Any unauthorized modification by a user of organization information will result in immediate suspension of the user.</li>
	</ol>
	<li class="doc-section">Subscriptions and Terminations</li>
	<ol class="doc">
		<li>A user is considered &quot;active&quot; when he/she has registered. If a user has agreed to fees being charged for a paid subscription, he/she will be considered &quot;active&quot; as long as the subscription remains paid.</li>
		<li>If a paid subscription is allowed to lapse due to non-payment, the account will be suspended and access to premium features will be disallowed.</li>
		<li>If a user account remains suspended for six months, the data associated with that user will be removed from the database and archived for another six months.</li>
		<li>If the user remains suspended for a period of one year from the original date of suspension, the system will permanently delete the data associated with that user.</li>
		<li>If the user renews his/her subscription prior to the end of the one-year limitation, previous data associated with the account will be restored. After the end of the one-year limitation, the data associated with the account will not be able to be restored.</li>
	</ol>
	<li class="doc-section">User Comments</li>
	<ol class="doc">
		<li>Certain parts of this website offer the opportunity for users to post and exchange opinions, information, material and data ('Comments') in areas of the website. <i>{{ full_site_name }}</i> does not screen, edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views or opinions of <i>{{ full_site_name }}</i>, its agents or affiliates. Comments reflect the views and opinions of the person who posts such views or opinions. To the extent permitted by applicable laws, <i>{{ full_site_name }}</i> shall not be responsible or liable for the Comments or for any loss - cost, liability, damages or expenses - caused and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</li>
		<li><i>{{ full_site_name }}</i> reserves the right to monitor all Comments and to remove any Comments that it considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.</li>
		<li>You warrant and represent that:</li>
		<ol class="doc">
			<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so</li>
			<li>The Comments do not infringe any intellectual property right, including without limitation copyright, patent or trademark, or other proprietary right of any third party</li>
			<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or material which is an invasion of privacy</li>
			<li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity</li>
		</ol>
		<li>You hereby grant to <i>{{ full_site_name }}</i> a non-exclusive royalty-free license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</li>
	</ol>
	<li class="doc-section">Hyperlinking to our Content</li>
	<ol class="doc">
		<li>The following organizations may link to our website without prior written approval:</li>
		<ol class="doc">
			<li>Government agencies</li>
			<li>Search engines</li>
			<li>News organizations</li>
			<li>Online directory distributors when they list us in the directory may link to our website in the same manner as they hyperlink to the websites of other listed businesses</li>
			<li>System-wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our website.</li>
		</ol>
		<li>These organizations may link to our home page, to publications or to other website information so long as the link:</li>
		<ol class="doc">
			<li>is not in any way misleading</li>
			<li>does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services</li>
			<li>fits within the context of the linking party's site.</li>
		</ol>
		<li>We may consider and approve in our sole discretion other link requests from the following types of organizations:</li>
		<ol class="doc">
			<li>commonly-known consumer and/or business information sources such as Chambers of Commerce, American Automobile Association, AARP and Consumers Union;</li>
			<li>dot.com community sites;</li>
			<li>associations or other groups representing charities, including charity giving sites,</li>
			<li>online directory distributors;</li>
			<li>internet portals;</li>
			<li>accounting, law and consulting firms whose primary clients are businesses; and</li>
			<li>educational institutions and trade associations.</li>
		</ol>
		<li>We will approve link requests from these organizations if we determine that:</li>
		<ol class="doc">
			<li>the link would not reflect unfavorably on us or our accredited businesses (for example, trade associations or other organizations representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to link)</li>
			<li>the organization does not have an unsatisfactory record with us</li>
			<li>the benefit to us from the visibility associated with the hyperlink outweighs the absence of <i>{{ full_site_name }}</i></li>
			<li>where the link is in the context of general resource information or is otherwise consistent with editorial content in a newsletter or similar product furthering the mission of the organization.</li>
		</ol>
		<li>These organizations may link to our homepage, to publications or to other website information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and it products or services; and (c) fits within the context of the linking party's site.</li>
		<li>If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify us using the <a href="/contact">Contact</a> link on this site. Please include your name, your organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs from which you intend to link to our website, and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</li>
		<li>Approved organizations may hyperlink to our website as follows:</li>
		<ol class="doc">
			<li>by use of our corporate name; or</li>
			<li>by use of the uniform resource locator (Web address) being linked to; or</li>
			<li>by use of any other description of our website or material being linked to that makes sense within the context and format of content on the linking party's site.</li>
		</ol>
		<li>No use of the <i>{{ full_site_name }}</i> logo or other artwork will be allowed for linking absent a trademark license agreement.</li>
	</ol>
	<li class="doc-section">Iframes</li>
	<ol class="doc">
		<li>Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our website.</li>
	</ol>
	<li class="doc-section">Content Liability</li>
	<ol class="doc">
		<li>We shall have no responsibility or liability for any content appearing on your website. You agree to indemnify and defend us against all claims arising out of or based upon your website. No link(s) may appear on any page on your website or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</li>
	</ol>
	<li class="doc-section">Usage Liability</li>
	<ol class="doc">
		<li>We shall have no responsibility or liability (fines, penalties or other legal breaches) if the user attempts to circumvent his/her own agency or union.</li>
	</ol>
	<li class="doc-section">Reservation of Rights</li>
	<ol class="doc">
		<li>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our website. You agree to immediately remove all links to our website upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our website, you agree to be bound to and abide by these linking terms and conditions.</li>
	</ol>
	<li class="doc-section">Removal of links from our website</li>
	<ol class="doc">
		<li>If you find any link on our website or any linked website objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</li>
		<li>While we endeavor to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.</li>
	</ol>
	<li class="doc-section">Disclaimer</li>
	<ol class="doc">
		<li>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</li>
		<ol class="doc">
			<li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
			<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
			<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
			<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
		</ol>
		<li>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</li>
		<li>To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</li>
	</ol>
</ol>

</div>

{% endblock %}
