{% extends '__base.html' %}
{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link href="{% static 'organization/css/organization_styles.css' %}" rel="stylesheet">
	<link href="{% static 'quinnrose/css/jssor_carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img class="img-responsive center-block organization-logo" src="{{ MEDIA_URL }}organizations/{{ org_id }}/logo.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<img class="img-responsive center-block" src="{{ MEDIA_URL }}organizations/{{ org_id }}/cover_photo.jpg">
		</div>
	</div>

	<div class="row">
	  	<!-- thumb navigation carousel -->
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
	  	<!-- thumb navigation carousel -->
		<div class="col-md-12 jssor_carousel_col">
		    <div id="jssor_1" class="jssor_main_init">
		        <!-- Loading Screen -->
		        <div data-u="loading" class="jssor_loading_init">
		            <div class="jssor_loading_div1_init"></div>
		            <div class="jssor_loading_div2_init"></div>
		        </div>
		        <div data-u="slides" class="jssor_slides_div">
		        	{% for image in carousel_images %}
		            <div data-p="144.50" style="display: none;"> <!-- Leave this style attribute right here!!! -->
		                <img data-u="image" src="{{ MEDIA_URL }}organizations/{{ org_id }}/carousel/{{ image.image }}" />
		                <img data-u="thumb" src="{{ MEDIA_URL }}organizations/{{ org_id }}/thumbs/{{ image.thumb }}" />
		            </div>
		            {% endfor %}
		        </div>
		        <!-- Thumbnail Navigator -->
		        <div data-u="thumbnavigator" class="jssort01 jssor_thumbnavigator"  data-autocenter="1">
		            <!-- Thumbnail Item Skin Begin -->
		            <div data-u="slides" class="jssor_thumbnavigator_slides">
		                <div data-u="prototype" class="p">
		                    <div class="w">
		                        <div data-u="thumbnailtemplate" class="t"></div>
		                    </div>
		                    <div class="c"></div>
		                </div>
		            </div>
		            <!-- Thumbnail Item Skin End -->
		        </div>
		        <!-- Arrow Navigator -->
		        <span data-u="arrowleft" class="jssora05l jssor_arrow_left"></span>
		        <span data-u="arrowright" class="jssora05l jssor_arrow_right"></span>
		    </div>
		</div>
	</div>
</div>

<div class="container organization-info_container">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">We are a Houston-based production company</div>
			<div class="panel-body">We recognize that Houston has a wealth of talented performing artists and unique performance venues.  We are committed to seeking out those resources and utilizing them in way that promotes everything Houston. We want to tell Houston's stories.</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Our focus is on Musical Theater and Commercial Music</div>
			<div class="panel-body">We challenge ourselves to produce shows/events that offer fresh perspectives to well-established performing arts fields.</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Our goal is to create destination events for the fringe performing arts community</div>
			<div class="panel-body">We are Houston artists, and we want to engage with other Houston artists in a meaningful way. We want to create an artistic hub within the thriving Houston arts community.</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'quinnrose/js/jssor.slider.min.js' %}" type='text/javascript'></script>
<script src="{% static 'quinnrose/js/jssor_carousel.js' %}" type='text/javascript'></script>
<script src="{% static 'organization/js/organization.js' %}" type='text/javascript'></script>
{% endblock %}
