.section-divider {
	margin-top: 10px;
	margin-bottom: 10px;
}
.tag-icon {
	vertical-align: top;
	padding-right: 4px;
}
.tag-list {
	vertical-align: top;
}
.post-image {
	margin: auto;
}
#comments, #comments li {
    margin: 0;
    padding: 0;
}
#comments li {
    list-style: none;
}
.comment-form {
	padding-bottom: 0px;
}
@media (min-width: 768px) { /* tablets and up */
    .group2 {
        text-align: right;
    }
}
@media (max-width: 991px) { /* tablets and down */
	.tag {
		padding: 10px;
		line-height: 40px;
		font-size: 1em;
	}
}
.widget-header {
	font-size: 1.3em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
}
.widget-header.collapsed {
	border-bottom: 0px;
	margin-bottom: 0px;
}
.widget-header-chevron {
	margin-top: 4px;
	font-size: 1em;
	color: #999;
}
.widget-list {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.tags-list {
	padding-left: 10px;
	padding-top: 8px;
}

.continue-reading {
	margin-top: 0px;
	margin-bottom: 5px;
}