.tag-icon {
	vertical-align: top;
}
.tag-list {
	vertical-align: top;
}
.header-divider {
	margin-top: 10px;
}
.post-image {
	margin: auto;
}
#comments, #comments li {
    margin: 0;
    padding: 0;
}
#comments li {
    list-style: none;
}
.comment-form {
	padding-bottom: 0px;
}
@media (min-width: 768px) { /* tablets and up */
    .group2 {
        text-align: right;
    }
}
